@import "bootstrap/bootstrap-social.scss";
@import "bootstrap/variables.scss";

//Mixins
@import "_mixins.scss";

//Components
@import "components/navigation-bar.scss";
@import "components/_home-page-info.scss";
@import "components/_icons.scss";
@import "components/_login.scss";
@import "components/_completed-projects.scss";
@import "components/_toasts.scss";
@import "components/_user-list.scss";
@import "components/form-groups.scss";
@import "components/_loading-button.scss";
@import "components/_footer.scss";

html {
    position: relative;
    min-height: 100%;
    min-width: 1200px;
}

body {
    background-color: $background-color;

    h1, h2, h3, h4, h5 {
        color: rgb(11, 27, 34);
    }
}

.validation-summary-errors {
    .close {
        position: relative;
        top: -0.125rem;
        right: -1.3125rem;
        line-height: 1.125rem;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
        }
    }
}
